---
layout: default
---

<article class="post">
  <div class="post-header">
    <h2>{{ page.title }}</h2>
  </div>

  <div class="post-description">
    {{ content }}
  </div>
</article>

<!--<article class="post">-->
<!--  <header class="post-header">-->
<!--    <h2>{{ page.title }}</h2>-->

<!--    <p class="post-meta">-->
<!--      Written on <time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time>-->
<!--    </p>-->
<!--  </header>-->

<!--  <div class="post-description">-->
<!--    {{ content }}-->
<!--  </div>-->
<!--</article>-->