---
layout: default
---

<article class="post">
  <header class="post-header">
    <h2>{{ page.title }}</h2>

    <p class="post-meta">
      Written on <time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time>
    </p>
  </header>

  <div class="post-description">
    {{ content }}
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "datePublished": "{{ page.date }}",
    "description": "{{ content | truncatewords:20 }}",
    "url": "{{ site.url }}{{ page.url }}"
  }
</script>